.program {
    position: fixed;
    top: 100px;
    left: 100px;
    width: 70%;
    height: 70%;
    background-color: #7DD160;
    z-index: 100;
}

.program-content {
    /*width: 100%;*/
    background-color: #8FDE73;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.close-btn {
    margin: 5px;
    border: 1px solid #000;
    padding: 5px 7px;
    background-color: red;
    cursor: pointer;
}


